PORT=8000
MONGODB_URI_ATLAS=mongodb://<username>:<password>@cluster0-shard-00-00.vdjmf.mongodb.net:27017,cluster0-shard-00-01.vdjmf.mongodb.net:27017,cluster0-shard-00-02.vdjmf.mongodb.net:27017/gst_reconciliation?ssl=true&replicaSet=atlas-gn178y-shard-0&authSource=admin&retryWrites=true&w=majority
MONGODB_URI_LOCAL=mongodb://localhost:27017/gst_reconciliation
JWT_SECRET=change_this_to_a_long_random_secret_key
JWT_EXPIRE=7d
NODE_ENV=development
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760
FRONTEND_URL=http://localhost:5173
